body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9fd6bc, #1a9065);
  animation: backgroundAnimation 20s infinite alternate;
  transition: background-color 0.3s;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container {
  max-width: 90%;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px; /* Redondear más las esquinas */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
  animation: fadeInAnimation 1s ease-in-out;
  padding-bottom: 40px;
}

.contenido h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2e3a47;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el texto */
  margin-bottom: 20px;
}

.contenido p {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 15px 35px;
  font-size: 22px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 30px; /* Esquinas redondeadas más pronunciadas */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Añadir efecto de transform */
  text-transform: uppercase;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.1); /* Efecto de escala en el hover */
}

.button:focus {
  outline: none;
}

iframe {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
